.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
*.egg-info
build
htmlcov

*.so
*.sif
env.d/jenv
env.d/pyenv
env.d/spaths
user.conf

*.png
*.gif
*.blend1


.config/
.R*
.rstudio/
.local/
scripts/analysis/*.tex
scripts/analysis/*.pdf
.Rproj.user
.vscode