pandas
scipy
sqlalchemy
numba
opencv-python
--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
fvcore==0.1.5.post20220305
iopath==0.1.9
ffcv
pytorch-lightning
-e deps/slurmpy
-e .
