setuptools>=65.5.1
pandas
scipy
sqlalchemy
numba
opencv-python-headless
ninja
plotly
torch
torchvision
drjit
mitsuba
fvcore
iopath
ffcv
lightning
slurmpy @ git+https://github.com/belledon/slurm.git@master
-e /project
